body{
    background: #DCDCDC	;
}
.glav{
    margin-top: 1%;
}
.left{
    padding-left: 1%;
}
.left1{
    padding-top: auto;
    padding-right: auto;
    padding-left: auto;
    padding-bottom: auto;
}
.foother{
    margin-left: 40%;


}
